.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: unset;

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &-ring {
    z-index: 0;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    width: 80%;
    height: 80%;
  }

  &-flag {
    z-index: 2;
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 40px;
    border-radius: 0;
    background-color: unset;
    background-size: cover;
    line-height: 0;
  }

  &-point {
    z-index: 1;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: var(--orange);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1);

    &:hover {
      transform: scale(1.5);
      box-shadow: 0px 0px 5px 0 rgba(255, 255, 255, 0.5);

      .graph-point-label {
        display: inline-block;
      }
    }

    &-label {
      display: none;
      position: absolute;
      top: -25px;
      left: -25px;
      padding: 5px 10px;
      border-radius: 3px;
      box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
      background-color: #16172b;
      color: white;
      font-size: 10px;
      white-space: nowrap;
    }

  }


  &-marker {
    z-index: 0;
    position: absolute;
    min-height: 10px;
    width: 2px;
    transform-origin: top;
    background-color: salmon;
    display: inline-block;
    line-height: 0;

    &-claim {
      background-color: var(--orange);
    }

    &-valid {
      background-color: limegreen;
    }


    &-label {
      z-index: 2;
      position: absolute;
      height: 16px;
      width: 50px;
      padding: 4px;
      border-radius: 3px;
      transform-origin: center;
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      line-height: 14px;
      display: inline-block;

      &-claim {
        background-color: var(--orange);
      }

      &-valid {
        background-color: limegreen;
      }
    }
  }

  &-label {
    z-index: 2;
    position: absolute;
    display: inline-block;
    max-width: 250px;
    font-size: 1em;
    color: white;
  }


  &-label-small {
    z-index: 2;
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 0.7em;
    color: white;
    text-align: center;
  }

  &-bg-1 {
    background-color: #aa4fff;
  }

  &-bg-2 {
    background-color: salmon;
  }

  &-bg-3 {
    background-color: #2387fa;
  }
}

.fade-in {
  opacity: 0;
  -moz-animation: .7s linear forwards 0s fadein;
  -webkit-animation: .7s linear forwards 0s fadein;
  animation: .7s linear forwards 0s fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}