.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: unset;
}
.graph-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
}
.graph-ring {
  z-index: 0;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  width: 80%;
  height: 80%;
}
.graph-flag {
  z-index: 2;
  position: absolute;
  display: inline-block;
  height: 30px;
  width: 40px;
  border-radius: 0;
  background-color: unset;
  background-size: cover;
  line-height: 0;
}
.graph-point {
  z-index: 1;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--orange);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
}
.graph-point:hover {
  transform: scale(1.5);
  box-shadow: 0px 0px 5px 0 rgba(255, 255, 255, 0.5);
}
.graph-point:hover .graph-point-label {
  display: inline-block;
}
.graph-point-label {
  display: none;
  position: absolute;
  top: -25px;
  left: -25px;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #16172b;
  color: white;
  font-size: 10px;
  white-space: nowrap;
}
.graph-marker {
  z-index: 0;
  position: absolute;
  min-height: 10px;
  width: 2px;
  transform-origin: top;
  background-color: salmon;
  display: inline-block;
  line-height: 0;
}
.graph-marker-claim {
  background-color: var(--orange);
}
.graph-marker-valid {
  background-color: limegreen;
}
.graph-marker-label {
  z-index: 2;
  position: absolute;
  height: 16px;
  width: 50px;
  padding: 4px;
  border-radius: 3px;
  transform-origin: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  display: inline-block;
}
.graph-marker-label-claim {
  background-color: var(--orange);
}
.graph-marker-label-valid {
  background-color: limegreen;
}
.graph-label {
  z-index: 2;
  position: absolute;
  display: inline-block;
  max-width: 250px;
  font-size: 1em;
  color: white;
}
.graph-label-small {
  z-index: 2;
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 0.7em;
  color: white;
  text-align: center;
}
.graph-bg-1 {
  background-color: #aa4fff;
}
.graph-bg-2 {
  background-color: salmon;
}
.graph-bg-3 {
  background-color: #2387fa;
}

.fade-in {
  opacity: 0;
  -moz-animation: 0.7s linear forwards 0s fadein;
  -webkit-animation: 0.7s linear forwards 0s fadein;
  animation: 0.7s linear forwards 0s fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=graph-vis.css.map */
