:root {
    --purple: #6266b2;
    --light-purple: #7c81e2;
    --orange: #f1900f;
    --dark-blue: #18183B;
}

/* WINDOW */
  
/* visited link */
a:visited {
    color:  var(--orange);
}
  
/* mouse over link */
a:hover {
    color: var(--orange);
}

/*link*/
a:link {
    color: var(--orange);
}

.search-window {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: black;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
}

/* CLOSE BUTTON */

.close-button-search-window {
    position: absolute;
    width: 100px;
    top: 80px;
    right: 10vw;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--purple);
    color: white;
    cursor: pointer;
}

.close-button-search-window:hover {
    background-color: var(--light-purple);
}

/* SEARCH BAR */

.search-bar{
    display: flex;
    flex-direction: row;
    margin: 120px auto 50px auto;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 60%;
}

.search-bar > div {
    display: flex;
    flex-direction: column;
    padding : 10px;
}

.search-bar > div > label {
    color: white;
    margin: 0 0 15px 0;
}

.search-bar-text-input {
    width: 90%;
}

input[type=text]{
    margin : 0 0 0 0;
    caret-color : var(--purple);
    padding : 15px;
    border-radius: 8px;
    border:none;
    outline: none;
}

  
.input[type=text]:focus {
    outline:none;
}

.search-bar-language-input {
    width: 80px;
}

/* LANGUAGE SELECTOR */

.language-selector {
    background-color: white;
    appearance:none;
    cursor : pointer;
    margin : 0 0 0 0;
    padding : 15px;
    border-radius: 8px;
    border:none;
    overflow: hidden;
}

/* SEARCH RESULTS */

.gfct-search-results-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 0 auto;
}

.gfct-search-results {
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(30, 30, 30, 0.3);
    border-radius: 5px;
    height: 53vh;
}

.search-results-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* MORE RESULTS BTN */

.more-results-btn {
    display: none;
    margin: 5vh auto;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--purple);
    color: white;
    cursor: pointer;
}

.more-results-btn:hover {
    background-color: var(--light-purple);
}

.search-results-error-message {
    color: white;
    position: relative;
    margin: auto;
    background: var(--dark-blue);
    padding: 17px;
    border-radius: 10px;
    cursor: default;
}

/* CONTAINER RESULT */

.news-container {
    display:flex;
    flex-direction: column;
    margin: 10px;
    background-color: var(--purple);
    width: 17.5vw;
    height: 15vh;
    border-radius: 4px;
    box-shadow: 10px 5px black;
    padding: 15px 20px 15px 20px;
}

/* PUBLISHER CONTAINER */

.news-publisher-container {
    flex-direction: row;
    color: var(--dark-blue);
    width: 100%;
    height: 10%;
    display: flex;
    font-size: xx-small !important;
}

.news-publisher-label {
    margin: 0;
    padding: 0;
    cursor: default;
}

.news-publisher-name {
    margin-left: 4px;
}

/* TITLE */

.news-title {
    margin: 0;
    padding: 1% 0 0 0;
    font-size: small !important;
    overflow: hidden;
    cursor: default;
}

/* DATES CONTAINER */

.news-dates-container {
    display: flex;
    flex-direction: row;
    font-size: xx-small !important;
    color: var(--dark-blue);
    height: 15%;
}

.news-claim-date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: xx-small !important;
    color:var(--dark-blue);
    width: 50%;
    height: 100%;
}

.news-claim-date-container > img {
    margin: auto 4px auto 0;
    height: 18px;
}

.claim-date {
    height: auto;
    margin: auto 0 auto 0;
    padding: 0.5% 0 0 0;
    cursor: default;
}

.news-review-date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: xx-small !important;
    color: var(--dark-blue);
    width: 50%;
    height: 100%;
}

.news-review-date-container > img {
    margin: auto 4px auto 0;
    height: 20px;
}

.news-review-date {
    height: auto;
    margin: auto 0 auto 0;
    padding: 0.5% 0 0 0;
    cursor: default;
}

/* BOTTOM ELEMENT */

.news-elements-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-left-elements-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.news-review-rating {
    margin: 0;
    padding: 0 0 0 0;
    font-size: x-small !important;
    overflow: hidden;
    height: 4vh;
    cursor: default;
}

.news-review-view-article {
    margin:0;
    padding:5px 0 0 0;
    font-size: xx-small !important;
    width: 60px;
}

/* SELECT BTN */

.article-button-select {
    margin-top: 25px;
    color:white;
    background-color: var(--purple);
    border-color: white;
    border-radius: 4px;
    height: 30px;
    width: 100px;
    border-style: solid;
    cursor: pointer;
}

.article-button-select:hover {
    background-color: var(--light-purple);
}
